#board{border: 3px solid; align-items: center;}
#score{font-size: 100px;}
#reset{font-size: medium; border: 3px solid; height: 50px; width: 100px; cursor: pointer; border-color: coral;}
#center{text-align: center;}
